body {
  margin: 35px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

p {
  background-color: yellow;
  border: 4px solid;
  border-color: black;
  font-size: 30px;
  height: 50px;
  margin: 0px 0px 0px 0px;
  padding-left: 20px;
  padding-top: 20px;
  width: 220px;
}

.greenbox {
  background-color: green;
  box-sizing: border-box;
  color: blue;
  height: 274px;
  margin: 10px 50px 10px 50px;
  padding: 20px 20px 20px 20px;
  width: 288px;
}
.greenbox2 {
  background-color: green;
  box-sizing: border-box;
  height: 274px;
  margin: 10px 50px 10px 50px;
  padding: 20px 20px 20px 20px;
  width: 288px;
}

.greenbox2 p {
  background-color: #01FFFF;
  color: red;
}

img {
  opacity: 0.6;
}
